# Information visualization project : Weather in Australia
### GAILLY Vincent 547819 [ULB]
## Dependencies

#### Pandas

In [12]:
import pandas as pd

#### Numpy

In [13]:
import numpy as np

#### Matplotlib

In [14]:
import matplotlib.pyplot as plt

#### Seaborn

In [15]:
import seaborn as sns

## Rain in Australia Dataset

In [16]:
df1 = pd.read_csv("data/weatherAUS.csv")

In [17]:
#df1.loc[df1['Location'] == 'Albury'].tail(2)
#list(df1.loc[df1['Location'] == 'Albury'].tail(2)['Date'])[0]
#df1[df1.notnull().all(1)]
df1.head(10)

# test

# Average of the column to fill up the nan.

#df2 = df1[df1.notnull().all(1)]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [18]:
import datetime
from functools import reduce

#Nb of NaN value in the sunshine,evaporation,pressure9am,pressure3pm,Cloud9am,Cloud3pm columns for each city
df2_1 = df1.Sunshine.isnull().groupby([df1['Location']]).count().astype(int)
df2_2 = df1.Evaporation.isnull().groupby([df1['Location']]).count().astype(int)
df2_3 = df1.Pressure9am.isnull().groupby([df1['Location']]).count().astype(int)
df2_4 = df1.Pressure3pm.isnull().groupby([df1['Location']]).count().astype(int)
df2_5 = df1.Cloud9am.isnull().groupby([df1['Location']]).count().astype(int)
df2_6 = df1.Cloud3pm.isnull().groupby([df1['Location']]).count().astype(int)

#Nb of value in the sunshine,evaporation,pressure9am,pressure3pm,Cloud9am,Cloud3pm columns for each city 
df3_1 = df1.Sunshine.groupby([df1['Location']]).count().astype(int)
df3_2 = df1.Evaporation.groupby([df1['Location']]).count().astype(int)
df3_3 = df1.Pressure9am.groupby([df1['Location']]).count().astype(int)
df3_4 = df1.Pressure3pm.groupby([df1['Location']]).count().astype(int)
df3_5 = df1.Cloud9am.groupby([df1['Location']]).count().astype(int)
df3_6 = df1.Cloud3pm.groupby([df1['Location']]).count().astype(int)

#Create a tab with the percentage of NaN for the sunshine column for each city
df4_1 = pd.merge(df2_1, df3_1, how="left", on="Location")
df4_1.rename(columns = {'Sunshine_x':'Sunshine_NaN','Sunshine_y':'Sunshine_Other'}, inplace = True)
val = [0 for i in range(df4_1.shape[0])]
df4_1['PercentageOfNaN_Sunshine'] = val
for name,row in df4_1.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_1.at[name, 'PercentageOfNaN_Sunshine'] = percentage
    
#Create a tab with the percentage of NaN for the evaporation colum for each city
df4_2 = pd.merge(df2_2, df3_2, how="left", on="Location")
df4_2.rename(columns = {'Evaporation_x':'Evaporation_NaN','Evaporation_y':'Evaporation_Other'}, inplace = True)
val = [0 for i in range(df4_2.shape[0])]
df4_2['PercentageOfNaN_Evaporation'] = val
for name,row in df4_2.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_2.at[name, 'PercentageOfNaN_Evaporation'] = percentage
    
#Create a tab with the percentage of NaN for the pressure9am colum for each city
df4_3 = pd.merge(df2_3, df3_3, how="left", on="Location")
df4_3.rename(columns = {'Pressure9am_x':'Pressure9am_NaN','Pressure9am_y':'Pressure9am_Other'}, inplace = True)
val = [0 for i in range(df4_3.shape[0])]
df4_3['PercentageOfNaN_Pressure9am'] = val
for name,row in df4_3.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_3.at[name, 'PercentageOfNaN_Pressure9am'] = percentage
    
#Create a tab with the percentage of NaN for the pressure3pm colum for each city
df4_4 = pd.merge(df2_4, df3_4, how="left", on="Location")
df4_4.rename(columns = {'Pressure3pm_x':'Pressure3pm_NaN','Pressure3pm_y':'Pressure3pm_Other'}, inplace = True)
val = [0 for i in range(df4_4.shape[0])]
df4_4['PercentageOfNaN_Pressure3pm'] = val
for name,row in df4_4.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_4.at[name, 'PercentageOfNaN_Pressure3pm'] = percentage
    
#Create a tab with the percentage of NaN for the Cloud9am colum for each city
df4_5 = pd.merge(df2_5, df3_5, how="left", on="Location")
df4_5.rename(columns = {'Cloud9am_x':'Cloud9am_NaN','Cloud9am_y':'Cloud9am_Other'}, inplace = True)
val = [0 for i in range(df4_5.shape[0])]
df4_5['PercentageOfNaN_Cloud9am'] = val
for name,row in df4_5.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_5.at[name, 'PercentageOfNaN_Cloud9am'] = percentage
    
#Create a tab with the percentage of NaN for the Cloud3pm colum for each city
df4_6 = pd.merge(df2_6, df3_6, how="left", on="Location")
df4_6.rename(columns = {'Cloud3pm_x':'Cloud3pm_NaN','Cloud3pm_y':'Cloud3pm_Other'}, inplace = True)
val = [0 for i in range(df4_6.shape[0])]
df4_6['PercentageOfNaN_Cloud3pm'] = val
for name,row in df4_6.iterrows():
    sum = row[0] + row[1]
    percentage = (row[0]/sum)*100
    df4_6.at[name, 'PercentageOfNaN_Cloud3pm'] = percentage
    
#Merge the tables df4_* into one table
df4_7 = reduce(lambda  left,right: pd.merge(left,right,on=['Location'],how='left'), [df4_1,df4_2,df4_3,df4_4,df4_5,df4_6])
df4 = df4_7.drop(["Sunshine_NaN", "Sunshine_Other","Evaporation_NaN","Evaporation_Other","Pressure9am_NaN","Pressure9am_Other","Pressure3pm_NaN","Pressure3pm_Other","Cloud9am_NaN","Cloud9am_Other","Cloud3pm_NaN","Cloud3pm_Other"], axis=1)
df4.rename(columns = {'PercentageOfNaN_Sunshine':'%_Sunshine','PercentageOfNaN_Evaporation':'%_Evaporation','PercentageOfNaN_Pressure9am':'%_Pressure9am','PercentageOfNaN_Pressure3pm':'%_Pressure3pm','PercentageOfNaN_Cloud9am':'%_Cloud9am','PercentageOfNaN_Cloud3pm':'%_Cloud3pm'}, inplace = True)

#To get the maximum date and get the start and end date for each location
city_lst = list(df1['Location'].drop_duplicates())
start_lst = [list(df1.loc[df1['Location'] == 'Albury'].head(1)['Date'])[0]]
end_lst = [list(df1.loc[df1['Location'] == 'Albury'].tail(2)['Date'])[0]]
max_date = pd.to_datetime(list(df1.loc[df1['Location'] == 'Albury'].head(1)['Date'])[0])
for city in city_lst[1:]:
    date = pd.to_datetime(list(df1.loc[df1['Location'] == city].head(1)['Date'])[0])
    start_lst.append(list(df1.loc[df1['Location'] == city].head(1)['Date'])[0])
    end_lst.append(list(df1.loc[df1['Location'] == city].tail(2)['Date'])[0])
    if date > max_date:
        max_date = date
data = {'Location':city_lst, 'Start_Date':start_lst, 'End_Date':end_lst}
df5 = pd.DataFrame(data)
        
#We verify that they are no missing date from the maximum date to the end.  
date_lst = list(df1.loc[(df1['Location'] == 'Albury') & (df1['Date'] >= '2013-03-01') & (df1['Date'] < '2017-06-25')]['Date'])
for city in city_lst:
    city_data = df1.loc[(df1['Location'] == city) & (df1['Date'] >= '2013-03-01') & (df1['Date'] < '2017-06-25')]
    if city_data['Date'].count() != 1577:
        missing_date = []
        for date in date_lst:
            if date not in list(city_data['Date']):
                missing_date.append(date)
        print(missing_date) #Unfortunatly, they are missing data for Newcastle (1) and NorahHead (5)
#As for Newcastle, only the last date is missing I have decided to set the end date at this date.

#We can delete the cities (3) for which the data starts in 2013 

df4

['2013-12-27', '2013-12-28', '2013-12-29', '2013-12-30', '2013-12-31']

,%_Sunshine,%_Evaporation,%_Pressure9am,%_Pressure3pm,%_Cloud9am,%_Cloud3pm
Location,,,,,,
Adelaide,64,65,50,50,100,100
Albany,54,52,50,50,50,56
Albury,100,100,50,50,70,68
AliceSprings,54,51,50,50,52,53
BadgerysCreek,100,100,51,51,100,100
Ballarat,100,100,50,50,54,60
Bendigo,100,71,50,50,59,57
Brisbane,50,50,50,50,50,50
Cairns,54,53,50,50,51,51
Canberra,69,65,51,51,59,61
Cobar,84,53,50,50,53,52
CoffsHarbour,66,62,52,52,57,57
Dartmoor,53,53,50,50,100,100
Darwin,50,50,50,50,50,50
GoldCoast,100,100,50,50,100,100
Hobart,50,50,50,50,61,61
Katherine,100,51,50,50,50,64
Launceston,100,95,61,61,80,80
Melbourne,50,50,54,54,59,60
MelbourneAirport,50,50,50,50,50,50
Mildura,51,50,50,50,50,51
Moree,59,56,50,50,54,53
MountGambier,53,53,50,50,50,50
MountGinini,100,100,100,100,100,100
Newcastle,100,100,100,100,52,59
Nhil,100,100,50,50,100,100
NorahHead,100,100,50,50,100,100
NorfolkIsland,53,52,50,50,50,50
Nuriootpa,51,51,50,50,51,57
PearceRAAF,50,100,50,50,60,61
Penrith,100,100,100,100,100,100
Perth,50,50,50,50,50,50
PerthAirport,50,50,50,50,50,50
Portland,53,53,50,50,53,54
Richmond,100,64,50,50,83,83
Sale,62,62,50,50,53,53
SalmonGums,100,100,100,100,100,100
Sydney,50,50,50,50,54,54
SydneyAirport,50,50,50,50,50,50
Townsville,53,50,50,50,51,52
Tuggeranong,100,100,50,50,100,100
Uluru,100,100,50,50,81,79
WaggaWagga,53,51,50,50,51,51
Walpole,100,100,50,50,100,100
Watsonia,50,50,50,50,50,50
Williamtown,68,60,50,50,55,56
Witchcliffe,100,100,51,51,100,100
Wollongong,100,100,50,50,69,68
Woomera,59,53,50,50,53,56

## Australia Cities Dataset

In [19]:
df2 = pd.read_csv("data/au.csv")

In [20]:
df2.head(10)

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Sydney,-33.8650,151.2094,Australia,AU,New South Wales,admin,5312163,4840600
1,Melbourne,-37.8136,144.9631,Australia,AU,Victoria,admin,5078193,4529500
2,Brisbane,-27.4678,153.0281,Australia,AU,Queensland,admin,2514184,2360241
3,Perth,-31.9522,115.8589,Australia,AU,Western Australia,admin,2059484,2039200
4,Adelaide,-34.9289,138.6011,Australia,AU,South Australia,admin,1345777,1295714
5,Gold Coast,-28.0167,153.4000,Australia,AU,Queensland,NaN,679127,638090
6,Canberra,-35.2931,149.1269,Australia,AU,Australian Capital Territory,primary,426704,381488
7,Newcastle,-32.9167,151.7500,Australia,AU,New South Wales,NaN,322278,152984
8,Wollongong,-34.4331,150.8831,Australia,AU,New South Wales,NaN,302739,289236
9,Geelong,-38.1500,144.3500,Australia,AU,Victoria,NaN,263280,191440

In [21]:
df2.count()

city                 1035
lat                  1035
lng                  1035
country              1035
iso2                 1035
admin_name           1035
capital                 9
population           1035
population_proper    1035
dtype: int64

## Quaterly Tourism in Australia Dataset

In [22]:
df3 = pd.read_csv("data/tourism.csv")

In [23]:
df3.head(10)

   Unnamed: 0     Quarter    Region            State   Purpose       Trips
0           1  1998-01-01  Adelaide  South Australia  Business  135.077690
1           2  1998-04-01  Adelaide  South Australia  Business  109.987316
2           3  1998-07-01  Adelaide  South Australia  Business  166.034687
3           4  1998-10-01  Adelaide  South Australia  Business  127.160464
4           5  1999-01-01  Adelaide  South Australia  Business  137.448533
5           6  1999-04-01  Adelaide  South Australia  Business  199.912586
6           7  1999-07-01  Adelaide  South Australia  Business  169.355090
7           8  1999-10-01  Adelaide  South Australia  Business  134.357937
8           9  2000-01-01  Adelaide  South Australia  Business  154.034398
9          10  2000-04-01  Adelaide  South Australia  Business  168.776364

In [24]:
df3.count()

Unnamed: 0    23408
Quarter       23408
Region        23408
State         23408
Purpose       23408
Trips         23408
dtype: int64

## Preprocessing